.social-icon {
    font-size: 24px;
    margin: 0 10px; /* Add space between icons */
  }
  .footer-background{
   color: #fff;
	 background-color: #107569;
   position: fixed;
   bottom: 0;
   width: 100%;
  }

 